
$bg-color: grey;

body {
    background: $bg-color;
    border: 20px solid get('colors.warning');
}

img {
    border: 1px solid;
    border-color: teal;

    &:hover {
        border-color: yellow;
    }
}